.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.sepia {
  filter: sepia(80%);
}

.contrast {
  filter: contrast(200%);
}

.drop-shadow{
  filter: drop-shadow(16px 16px 20px red) ;
}
.opacity {
  filter: opacity(50%);
}
.invert {
  filter: invert(1);
}
.original{
  filter: none;
}