.card-body #instagram-logo, #instagram-logo{
  background-image: asset_url("instagram-login.png");
  background-position: 0 -52px;
  height: 51px;
  width: 175px;
  background-repeat: no-repeat;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}

